body 
{	
	background:#fff;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	line-height: 17px;	
}

.table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	line-height: 17px;	
}
.cellpad15 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left:15px;
	padding-right:15px;
	color: #000000;
	line-height: 17px;	
}
.mainlinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:none;
	line-height: 17px;	
}
.mainlinks:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:underline;
	line-height: 17px;	
}
.leftlinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E07733; font-weight:;
	text-decoration:none;
}
.leftlinks:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fda33a;
	text-decoration:none;
}
.rightlinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:none;
	line-height: 17px;	
}
.rightlinks:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:underline;
	line-height: 17px;	
}
.footer{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	text-decoration:none;
	line-height: 17px;	
}
.footer a{color:#000; text-decoration:none;}
.footerlinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:none;
	line-height: 17px;	
}
.footerlinks:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:underline;
	line-height: 17px;	
}
.form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #ffffff;
	border: 0px solid #333333;
}
.select {
	BORDER-RIGHT: #6f6f6f 1px solid; BORDER-TOP: #6f6f6f 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #6f6f6f 1px solid; COLOR: #6f6f6f; BORDER-BOTTOM: #6f6f6f 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffffff;
}
.homeheading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 18px;
	font-weight: bold;
	color: #ea6d03;
}
.heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 18px;
	font-weight: bold;

}
a.heading{ color:#0088cc}


.heading2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 18px;
	font-weight: bold;
	color: #994834;
	text-align:center;
	display:block;
}
.content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 18px;
	color: #ffffff;
}
.subheading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
}
.copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: 18px;
	color: #000000;
	text-decoration:none;
}
.copyright:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: 18px;
	color: #000000;
	text-decoration:underline;
}
.toplinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	FONT-WEIGHT: bold;
	text-decoration:none;
}
.toplinks_hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #8B398B;
	FONT-WEIGHT: bold;
	text-decoration:none;
}
.headerlinks {
	font-family: verdana;
	font-size: 9px;
	color: #000000;
	FONT-WEIGHT: normald;
	text-decoration:none;
}
.headerlinks:hover {
	font-family: verdana;
	font-size: 9px;
	color: #FF0000;
	FONT-WEIGHT: normald;
	text-decoration:none;
}
.pinktext {
	font-family: verdana;
	font-size: 9px;
	color: #8B398B;
	FONT-WEIGHT: normal;
	text-decoration:none;
}
.redtext {
	font-family: verdana;
	font-size: 9px;
	color: #ff0000;
	FONT-WEIGHT: normal;
	text-decoration:none;
}
.graytext {
	font-family: verdana;
	font-size: 9px;
	color: #696969;
	FONT-WEIGHT: normal;
	text-decoration:none;
}
.submitbutton
{
COLOR: #000000; FONT-FAMILY: verdana; BACKGROUND-COLOR: #FF543A;
font-size:10px; width:30px; 
border-bottom:1px; border-bottom-color:#000000;
border-left:1px; border-left-color:#000000;
border-right:1px; border-right-color:#000000;
border-top:1px; border-top-color:#000000;

}
.updates_button
{
	COLOR: #fff;
	FONT-FAMILY: verdana;
	BACKGROUND-COLOR: #994834;
	font-size: 11px;
	height: 20px;
	font-weight: bold;
	border-bottom: 1px;
	border-bottom-color: #7e7e7e;
	border-left: 1px;
	border-left-color: #7e7e7e;
	border-right: 1px;
	border-right-color: #7e7e7e;
	border-top: 1px;
	border-top-color: #7e7e7e;

}

.paging {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	text-decoration:none;
}
.paging:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fda33a;
	text-decoration:none;
}


.white{color:#fff !important}
.greenbg {background:#ccc}
.black{ color:#000}

.green-txt{color:#994834 !important; font-size:18px; }

.loginbox { border:1px solid #ccc !important; 
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); 
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); 
box-shadow:#555 0 10px 8px -8px; margin:5% auto;  }
.loginbox tr td{ background:none !important; color:#000 }
